@import "tailwindcss";
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @apply bg-[#e6e7ed] m-0 p-0 text-[14px];
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #dddddd;
  }
}
table {
  td,
  th {
    padding: 4px;
    border: 1px solid #0003;
    text-align: center;
  }
}
pre {
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button {
  user-select: none;
  transition: all 0.3s;
  &:disabled {
    background-color: #b5bbc0;
    color: #ffffffb4;
  }
}
.tab-slider-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden; /* ⭐️ RẤT QUAN TRỌNG: Ẩn các tab bị trượt ra ngoài */
}
.tab-content-wrapper {
  /* Cho phép các tab xếp cạnh nhau */
  display: flex;
  width: 500%; /* ⭐️ RẤT QUAN TRỌNG: 4 tab * 100% = 400% */
  height: 100%;
  /* transition: transform 300ms ease-out; đã thêm inline để tiện theo dõi */
}
.ant-select-sm {
  height: 26px !important;
  .ant-select-selection-item {
    @apply text-[14px];
  }
}
/* 3. Style cho từng Component Tab (Con của Wrapper) */
.tab-content-wrapper > * {
  width: 20%;
  flex-shrink: 0; /* Ngăn không cho các tab bị co lại */
  height: 100%;
  overflow-y: auto;
}
.taskbar {
  @apply fixed bottom-0 left-0 right-0 flex justify-around 
  items-center md:hidden transition-all duration-300;
  .item {
    @apply flex flex-col w-14 h-14 duration-300 mt-1 gap-0.5 items-center justify-center rounded-lg transition-all;
  }
  .main {
    @apply flex absolute bg-[white] items-center 
              justify-center w-15 h-15 -top-5 
              rounded-full shadow-xl z-1 duration-300 transition-all;
  }
}
.ant-modal {
  margin: -50px auto 8px auto !important;
  max-width: calc(100vw - 48px) !important;
  .ant-modal-content {
    padding: 0px !important;
    overflow: hidden;
    .ant-modal-header {
      @apply flex p-2 px-3;
    }
    .ant-modal-close {
      right: 4px;
      top: 4px;
      background-color: #fff;
      border-radius: 100%;
    }
    .ant-modal-body {
      position: relative;
      padding: 16px;
      overflow: hidden;
      max-height: calc(100vh - 210px);
      overflow-y: auto;
    }
    .ant-modal-footer {
      @apply flex border-t border-[#0003];
      button {
        padding: 8px;
        display: flex;
        flex: 1;
        border: none;
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        background-color: transparent !important;
        height: 42px;
        &:last-child {
          margin-left: 0px;
          border-left: 1px solid #0003;
        }
        &.ant-btn-primary {
          border-radius: 0px;
          span {
            color: #07f !important;
          }
        }
      }
    }
    .ant-modal-body {
      .ant-modal-confirm-body {
        padding: 18px 16px;
        .ant-modal-confirm-content {
          margin-top: 8px;
        }
      }
      .ant-modal-confirm-btns {
        display: flex;
        border: 1px solid #0003;
        button {
          display: flex;
          flex: 1;
          margin: 0px;
          border: 0px;
          background-color: transparent;
          height: 42px;
          &.ant-btn-primary {
            border-left: 1px solid #0003;
            border-radius: 0px;
            span {
              color: #07f !important;
            }
          }
        }
      }
    }
  }
  &.ant-modal-confirm {
    .ant-modal-body {
      padding: 0px !important;
    }
    .ant-modal-header {
      display: none;
      padding: 0px !important;
      margin: 0px !important;
    }
  }
  &.no-footer {
    .ant-modal-body {
      @apply pb-0 pt-2;
      .ant-form {
        padding-bottom: 8px;
        .ant-form-item {
          margin-bottom: 6px;
          &.btn {
            .ant-form-item-control-input-content {
              display: flex;
              gap: 6px;
              justify-content: end;
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
  &.full-screen {
    margin: 0px !important;
    left: 0;
    top: 0;
    max-width: 100% !important;
    height: 100vh !important;
    padding-bottom: 0px;
    .ant-modal-content {
      @apply flex flex-col;
      border-radius: 0px;
      height: 100vh;
      .ant-modal-body {
        padding: 0px !important;
        height: 100vh !important;
        max-height: 100vh !important;
      }
      .ant-modal-footer {
        margin-top: 0px;
        button {
          height: 50px;
          &.ant-btn-color-primary {
            background-color: #07f !important;
            color: #fff !important;
          }
        }
      }
    }
  }
}
.slick-slider {
  .slick-list {
    @apply shadow rounded-2xl bg-white;
  }
  .slick-dots {
    @apply flex! justify-center gap-1.5 -bottom-5;
    li {
      @apply rounded-full w-2.5 h-2.5 m-0!;
      transition: all 0.3s;
      background-color: #c3cfda;
      button {
        &::before {
          content: "";
        }
      }
      &.slick-active {
        background-color: #6d9ac4;
        @apply w-8;
      }
    }
  }
}
.ant-upload-list-picture-card {
  .ant-upload-select {
    width: 60px !important;
    height: 60px !important;
  }
  .ant-upload-list-item-container {
    width: 60px !important;
    height: 60px !important;
    .ant-upload-list-item {
      padding: 0px !important;
      overflow: hidden;
      &::before {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
.fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
  opacity: 0;
}
.fadeInTop {
  animation: fadeInTop 0.3s ease-out forwards;
  opacity: 0;
  animation-delay: var(--animation-delay, 0s);
}
.fadeInBot {
  animation: fadeInBot 0.3s ease-out forwards;
  opacity: 0;
  animation-delay: var(--animation-delay, 0s);
}
.fadeOut {
  animation: fadeOut 0.3s ease-out;
  opacity: 0;
}
.fadeOutTop {
  animation: fadeOutTop 0.3s ease-out;
  opacity: 0;
}
.list_img {
  .ant-image {
    height: 100%;
    width: 100%;
    .ant-image-img {
      height: 100%;
      object-fit: cover;
    }
  }
  .item {
    &:first-child {
      @apply rounded-l-md;
    }
    &:last-child {
      @apply rounded-r-md;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOutTop {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInBot {
  animation: fadeInBot 0.3s ease-out forwards;
  opacity: 0;
  animation-delay: var(--animation-delay, 0s);
}
.lichtuyen {
  @apply flex-col gap-2;
  .item {
    @apply flex flex-col bg-[white] shadow rounded-xl p-3 gap-2 relative;
    .salary {
      @apply flex relative bg-[#e5ebf7] gap-2 items-center 
      text-[#093180] font-medium rounded-lg px-2 py-1;
      .icon {
        @apply bg-[#093180] text-white w-6 h-6 flex items-center justify-center rounded-full;
      }
    }
    .hot-card {
      @apply rounded-[4px] absolute px-2 -right-1 py-0.5 rounded-br-none
      -top-1 bg-[red] text-white font-medium text-[13px] flex gap-1 items-center;
      &::before {
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        bottom: -3px;
        right: 13px;
        border-style: solid;
        border-width: 0 8px 8px 0;
        border-color: transparent red transparent transparent;
        transform: translate(100%, -100%);
        @apply rotate-45;
        z-index: -1;
      }
    }
    .avatar {
      @apply min-w-12 w-12 h-12 overflow-hidden;
    }
    .information {
      @apply flex flex-col gap-0.5;
      .title {
        @apply text-[16px] font-medium mt-1;
      }
      .name {
        @apply text-[13px] font-medium text-[#07f];
      }
      .address {
        @apply flex items-center gap-1 text-[10px] text-[#999];
      }
    }
  }
}
.filter {
  font-size: 13px;
  @apply flex font-medium overflow-x-auto snap-x snap-mandatory;
  .item {
    @apply bg-[#5e6a7a] px-3 py-1 text-nowrap 
    rounded-sm text-[#ffffff9a] transition-all duration-300
    snap-start;
    &.active {
      @apply text-[#fff] bg-[#00a2ff];
    }
  }
}
.btn {
  @apply transition-all duration-300 select-none;
  &.ungtuyen {
    @apply absolute right-0 bg-[#07f] border 
    border-white p-2 rounded-lg text-[white] 
    font-medium px-4 shadow flex items-center;
    &:active {
      @apply bg-[#00489b];
    }
  }
}
.spark-nav {
  &.active {
    animation: bounce2 0.3s ease-in-out forwards;
    .spark {
      animation: shootSparkOut 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        forwards;
    }
  }
  &.deactive {
    animation: bounce1 0.3s ease-in-out forwards;
  }
  .spark {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #2dabff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: -1;
    &.spark-1 {
      --tx: 20px;
      --ty: -20px;
      animation-delay: 0.05s; /* Bắt đầu animation trễ hơn một chút */
    }
    &.spark-2 {
      --tx: 30px;
      --ty: 0px;
      animation-delay: 0.1s;
    }
    &.spark-3 {
      --tx: -20px;
      --ty: 20px;
      animation-delay: 0s;
    }
    &.spark-4 {
      --tx: -20px;
      --ty: 0px;
      animation-delay: 0.15s;
    }
  }
}
/* From Uiverse.io by SchawnnahJ */
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
  }
  &::before {
    animation: before8 2s infinite;
  }
  &::after {
    animation: after6 2s infinite;
  }
}
@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em #00a2ff, -1em 0.5em #00d5ff;
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em #00a2ff, 0 0.5em #00d5ff;
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em #00a2ff, 1em 0.5em #00d5ff;
  }

  100% {
    box-shadow: 1em -0.5em #00a2ff, -1em 0.5em #00d5ff;
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em #0056c7, -0.5em -1em #ceffff;
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 #0056c7, -0.5em 0 #ceffff;
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em #0056c7, -0.5em 1em #ceffff;
  }

  100% {
    box-shadow: 0.5em 1em #0056c7, -0.5em -1em #ceffff;
  }
}
@keyframes shootSparkOut {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-100% + var(--tx)), calc(-100% + var(--ty)))
      scale(0);
    opacity: 0;
  }
}
@keyframes fadeInBot {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce1 {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.8);
  }
  66% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce2 {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.3);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shootSpark {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}
