@import "tailwindcss";
body {
  @apply bg-[#e6e7ed] m-0 p-0 text-[14px];
}
table {
  td,
  th {
    padding: 4px;
    border: 1px solid #0003;
    text-align: center;
  }
}
button {
  transition: all 0.3s;
}
.tab-slider-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden; /* ⭐️ RẤT QUAN TRỌNG: Ẩn các tab bị trượt ra ngoài */
}
.tab-content-wrapper {
  /* Cho phép các tab xếp cạnh nhau */
  display: flex;
  width: 500%; /* ⭐️ RẤT QUAN TRỌNG: 4 tab * 100% = 400% */
  height: 100%;
  /* transition: transform 300ms ease-out; đã thêm inline để tiện theo dõi */
}
.ant-select-sm {
  height: 26px !important;
  .ant-select-selection-item {
    @apply text-[14px];
  }
}
/* 3. Style cho từng Component Tab (Con của Wrapper) */
.tab-content-wrapper > * {
  width: 20%;
  flex-shrink: 0; /* Ngăn không cho các tab bị co lại */
  height: 100%;
  overflow-y: auto;
}
.taskbar {
  @apply fixed bottom-0 left-0 right-0 flex justify-around 
  items-center md:hidden transition-all duration-300;
  .item {
    @apply flex flex-col w-14 h-14 duration-300 mt-1 gap-0.5 items-center justify-center rounded-lg transition-all;
  }
  .main {
    @apply flex absolute bg-[white] items-center 
              justify-center w-15 h-15 -top-5 
              rounded-full shadow-xl z-1 duration-300 transition-all;
  }
}
.ant-modal {
  margin: 8px auto !important;
  max-width: calc(100vw - 32px) !important;
  .ant-modal-content {
    padding: 0px !important;
    .ant-modal-body {
      .ant-modal-confirm-body {
        padding: 18px 16px;
        .ant-modal-confirm-content {
          margin-top: 8px;
        }
      }
      .ant-modal-confirm-btns {
        display: flex;
        border: 1px solid #0003;
        button {
          display: flex;
          flex: 1;
          margin: 0px;
          border: 0px;
          background-color: transparent;
          height: 42px;
          &.ant-btn-primary {
            border-left: 1px solid #0003;
            border-radius: 0px;
            span {
              color: #07f !important;
            }
          }
        }
      }
    }
  }
}
.fadeInTop {
  animation: fadeInTop 0.3s ease-out forwards;
  opacity: 0;
  animation-delay: var(--animation-delay, 0s);
}
.fadeInBot {
  animation: fadeInBot 0.3s ease-out forwards;
  opacity: 0;
  animation-delay: var(--animation-delay, 0s);
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInBot {
  animation: fadeInBot 0.3s ease-out forwards;
  opacity: 0;
  animation-delay: var(--animation-delay, 0s);
}
@keyframes fadeInBot {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
